.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

    padding: 1rem;
    box-sizing: border-box;
}

.modal {
    display: block;
    position: relative;
    z-index: 1001;

    background-color: var(--secondary);
    color: var(--text);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

    padding: 2rem;
    border-radius: 1rem;

    max-width: 400px;
    width: 100%;

    max-height: 90vh;
    height: auto;
    overflow-y: auto;

    border: 1px solid var(--accent);
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
}

.modal-actions .btn:hover {
    background-color: var(--overlay5);
    border-radius: 0.8rem
}

.modal-body {
    margin-top: 1rem;
}

.modal-body input {
    color: var(--text);
    background-color: var(--background);
    border-color: var(--accent)
}

.modal-body input::placeholder {
    color: var(--text-muted);
    opacity: 0.5;
}

.modal-body input:focus {
    background-color: var(--background);
    border-color: var(--accent5);
    box-shadow: 0 0 0 0.2rem var(--overlay10)
}