:root {
    --peach-light: #FFDBDB;
    --peach-dark: #FFC6C6;
    --brown-light: #644A07;
    --brown-dark: #594100;

    --text-color: #594100;
    --bg-color: #ffe6e6;

    --font-general: 'Sour Gummy';
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    font-family: var(--font-general);
}