:root {
    --mountbatten-pink: #a37e84;
    --silver-pink: #cdadab;
    --almond: #dac4b9;
    --taupe-gray: #917f88;
    --old-lavender: #836871;


    --languid-lavender: #D8CAD5;
    --mountbatten-pink: #A46C93;
    --english-violet: #675579;
    --ube: #878BBF;
    --crystal: #A2D2DD;


    --rhythm: #766DA7;
    --eerie-black: #15191E;
    --camouflage: #7A9663;
    --ebony: #556842;
    --laurel-green: #ADAE91;


    --dusky-rose: #D9BCAF;
    --thistle: #8A9688;
    --hawthorne-green: #283D3B;
    --royal-scepter: #795663;


    /* -------------------------------------------- */


    --kombu-green: #394931;
    --artichoke: #90997F;
    --laurel-green: #AFB59D;
    --pastel-gray: #D4D0B9;
    --quick-silver: #9EA99C;
    --blue-noir: #011627;

    
    --background: var(--pastel-gray);


    --primary: var(--artichoke);
    --secondary: var(--laurel-green);
    --accent: var(--kombu-green);


    --overlay5: hsl(207, 95%, 8%, 5%);
    --overlay10: hsl(207, 95%, 8%, 10%);
    --overlay15: hsl(207, 95%, 8%, 15%);
    --overlay20: hsl(207, 95%, 8%, 20%);
    --overlay30: hsl(207, 95%, 8%, 30%);
    --overlay40: hsl(207, 95%, 8%, 40%);
    --overlay50: hsl(207, 95%, 8%, 50%);
    --overlay60: hsl(207, 95%, 8%, 60%);
    --overlay70: hsl(207, 95%, 8%, 70%);
    --overlay80: hsl(207, 95%, 8%, 80%);
    --overlay90: hsl(207, 95%, 8%, 90%);


    --text: var(--blue-noir);
    --text-muted: #01162762;


    --font-general: 'Sour Gummy'
}

body {
    font-family: var(--font-general);
    background-color: var(--background);
    color: var(--text)
}