:root {
    --peach-lighter: #FFE6E6;
    --peach-light: #FFDBDB;
    --peach-dark: #FFC6C6;

    --brown-lighter: #837b67;
    --brown-light: #644A07;
    --brown-dark: #594100;

    --font-general: 'Sour Gummy';
}

body {
    color: var(--brown-dark);
    background-color: var(--peach-lighter);
    font-family: var(--font-general);
}