.context-menu {
    position: absolute;
    background-color: var(--bg);
    border: 2 solid var(--accent);
    border-radius: 0.5rem;
    border-width: 2px;
    padding: 0.5rem;
    list-style: none;
    z-index: 1000;
}

.context-menu li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: var(--accent10);
    border-radius: 0.8rem;
    color: var(--text)
}