.context-menu {
    position: absolute;
    background-color: var(--secondary);
    border-radius: 0.5rem;
    border: 1px solid var(--accent);
    padding: 0.5rem;
    list-style: none;
    z-index: 1000;
}

.context-menu li {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: var(--text);
}

.context-menu li:hover {
    background-color: var(--overlay5);
    border-radius: 0.8rem;
}