.todo-card {
    background-color: var(--secondary);
    border: 1px solid var(--accent);
}

.card-title {
    color: var(--text)
}

/* Set card max height */
.todo-card ul {
    max-height: 500px;
    overflow-y: auto;
}

.todo-card .list-group-item {
    border: none;
    border-radius: 0.8rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--text);
}

/* Hide delete button */
.delete-button {
    opacity: 0;
    pointer-events: none;
}

/* Show delete button on hover */
.list-group-item:hover .delete-button {
    opacity: 1;
    pointer-events: auto;
}

.todo:hover,
.todo-done:hover {
    background-color: var(--overlay5)
}

/* Strike through done todos */
.todo-done span {
    color: var(--text-muted);
    text-decoration: line-through;
}

/* Break up long todos on multiple lines */
.list-group-item span {
    word-break: break-word;
    white-space: normal;
    overflow-wrap: anywhere;
    flex: 1;
}

.todo-input {
    color: var(--text) !important;
    background-color: var(--background);
    border: 1px solid var(--accent);
}

.todo-input::placeholder {
    color: var(--text-muted);
    opacity: 0.5;
}

.todo-input:focus {
    background-color: var(--background);
    border: 1px solid var(--accent);
    box-shadow: 0 0 0 0.2rem var(--overlay10);
}

.add-task-btn:hover {
    border-radius: 50%;
    background-color: var(--overlay5);
}