.card-title {
    color: var(--brown-dark)
}

.todo {
    cursor: pointer;
    color: var(--brown-dark)
}

.todo-done {
    cursor: pointer;
    text-decoration: line-through;
    color: var(--brown-lighter)
}