.card-title {
    color: var(--brown-dark)
}

.todo {
    cursor: pointer;
    color: var(--brown-dark)
}

.todo-done {
    cursor: pointer;
    text-decoration: line-through;
    color: var(--brown-lighter)
}

.todo-span {
    cursor: pointer;
    flex-grow: 1
}

input {
    color: var(--brown-dark)
}

.task-input {
    color: var(--brown-dark) !important
}

.task-input::placeholder {
    color: var(--brown-lighter);
    opacity: 0.5;
}

.task-input:focus {
    border-color: var(--brown-dark);
    box-shadow: 0 0 0 0.2rem rgba(100, 74, 7, 0.25)
}